body {
	max-width: 100vw;
	overflow-x: hidden;
}
nav {
	max-width: 100%;
	justify-content: space-around;
	z-index: 1;
	display: flex;
	flex-direction: column;
}
nav ul li {
	margin-top: 1rem;
}
.container {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	padding: 1rem;
}

#showcase {
	width: 100%;
	margin: 0.25rem 0 1rem 0;
}
.showcase-content p {
	margin-top: -4rem;
}
object {
	transform: scale(0.8);
	margin-top: -8rem;
	width: 100%;
}

/* * Responsive Modal */
.modal h2 {
	font-size: 1.2rem;
}

.modal p {
	padding: 2rem;
}
.modal {
	overflow-x: visible;
}
.modal .list-content ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -3rem;
}

.modal .list-content ul li {
	/* margin-right: 3rem; */
	justify-self: center;
}

/* * for smaller devices... iPhone 5 */
@media (max-width: 500px) {
	#slider {
		padding: 0.45rem 0.9rem;
		font-size: 12px;
	}
}
